{
  "parser": "babel-eslint",
  "extends": [
    "plugin:flowtype/recommended",
    "airbnb-base"
  ],
  "plugins": [
    "flowtype"
  ],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "globals": {
    "describe": true,
    "it": true,
    "expect": true,
    "jest": true
  }
}